MyGenerated.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>ODD for the project "Correspondance Jules Verne"</title>
            <author>Camille Samsa</author>
         </titleStmt>
         <publicationStmt>
            <authority>Camille Samsa</authority>
            <availability status="free">
               <p>Usage libre pour étude et recherche</p>
            </availability>
         </publicationStmt>
         <sourceDesc>
            <p>Based on the oddbyexample</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>

         <!-- DESCRIPTION OF THE CUSTOMISATION -->

         <head>TEI Customization</head>

         <!-- INTRODUCTION -->

         <p>This ODD file is designed for the encoding of the personal handwritten letters of Jules
            Verne using the TEI (Text Encoding Initiative) guidelines. The goal is to create a
            structured, standardized, and extensible representation of these letters, enabling their
            long-term preservation, study, and digital accessibility.The ODD defines a schema that
            reflects the specific needs of this project, ensuring that critical aspects of the
            letters, such as metadata (sender, date, location), textual content (body of
            the letters), and manuscript-specific features. Using XML provides an efficient way of
            structuring the text into different sections, such as the header, body of the letter,
            and signature, making it easier to analyze and consult the letters. The XML format keeps
            the textual content independent of its visual presentation, allowing focus on the raw
            information while leaving room for various presentation styles later. Additionally, it
            allows for the inclusion of descriptive information such as author, date, place of
            writing, and addressee, which enhances automatic analysis and exploration for
            researchers.</p>

         <p>This TEI ODD defines a TEI customization for encoding handwritten letters. It includes
            differents elements from the header module:
            
            <list>
               <item>
                  <gi>teiHeader</gi> from the header module to store required metadata</item>
               <item>
                  <gi>fileDesc</gi> from the header module to record information about this
                  file</item>
               <item>
                  <gi>titleStmt</gi> from the header module to record information about the
                  title</item>
               <item>
                  <gi>publicationStmt</gi> from the header module to detail how it is
                  published</item>
               <item>
                  <gi>sourceDesc</gi> from the header module to record where it is from</item>
               <item>
                  <gi>profileDesc</gi> from the header module describe a correspondance with action
                  (letter sent), author, place sent, date of letter</item> 
            </list> 
           
           It also contains the entire "core" module and the entire "tei" module. Finally
           it also includes most of the elements from the "textstructure" module, but with a
           modification to exclude the numbered divs 1-7, as we rather want to use simple
           <gi>div</gi>s with <att>type</att>. We also exclude <gi>back</gi> and <gi>front</gi>
           as we want our main encoding to be stored in the <gi>body</gi>.</p>

         <schemaSpec ident="oddbyexample" start="TEI ">
            <desc>Customization for Jules Verne letters</desc>
            <moduleRef key="tei"/>
            <!--Checking module textcrit-->
            <classRef key="att.textCritical"/>
            <classRef key="model.rdgLike"/>
            <classRef key="model.rdgPart"/>
            <classSpec ident="att.textCritical" type="atts" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="varSeq" mode="delete"/>
                  <attDef ident="require" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module msdescription-->
            <classRef key="model.physDescPart"/>
            <moduleRef key="msdescription"
                       include="msDesc msIdentifier repository physDesc objectDesc supportDesc support"/>
            <elementSpec ident="msDesc" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="objectDesc" mode="change">
               <attList>
                  <attDef ident="form" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="supportDesc" mode="change">
               <attList>
                  <attDef ident="material" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module namesdates-->
            <classRef key="model.persNamePart"/>
            <moduleRef key="namesdates" include="orgName persName placeName country settlement"/>
            <elementSpec ident="orgName" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="persName" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="placeName" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="country" mode="change">
               <desc>In our project <gi>country</gi> encodes the name of a country, 
                     often used in the metadata to describe the location of a
                     repository or origin of the letter.</desc>
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="settlement" mode="change">
               <desc>In our project <gi>settlement</gi> encodes the name of a city,
                     town, or other settlement, often paired with <gi>country</gi> 
                     for precise geographic metadata.</desc>
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module dictionaries-->
            <classRef key="att.lexicographic"/>
            <classRef key="model.entryLike"/>
            <classRef key="model.formPart"/>
            <classRef key="model.gramPart"/>
            <classRef key="model.lexicalRefinement"/>
            <classRef key="model.morphLike"/>
            <classRef key="model.ptrLike.form"/>
            <classSpec ident="att.lexicographic" type="atts" mode="change">
               <attList>
                  <attDef ident="expand" mode="delete"/>
                  <attDef ident="split" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="location" mode="delete"/>
                  <attDef ident="mergedIn" mode="delete"/>
                  <attDef ident="opt" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module tagdocs-->
            <classRef key="att.combinable"/>
            <classRef key="att.identified"/>
            <classRef key="model.contentPart"/>
            <classSpec ident="att.combinable" type="atts" mode="change">
               <attList>
                  <attDef ident="mode" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.identified" type="atts" mode="change">
               <attList>
                  <attDef ident="ident" mode="delete"/>
                  <attDef ident="predeclare" mode="delete"/>
                  <attDef ident="module" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.ascribed.directed" type="atts" mode="change">
               <attList>
                  <attDef ident="toWhom" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.dimensions" type="atts" mode="change">
               <attList>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.damaged" type="atts" mode="change">
               <attList>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="group" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable.w3c" type="atts" mode="change">
               <attList>
                  <attDef ident="notBefore" mode="delete"/>
                  <attDef ident="notAfter" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable" type="atts" mode="change">
               <attList>
                  <attDef ident="period" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.divLike" type="atts" mode="change">
               <attList>
                  <attDef ident="org" mode="delete"/>
                  <attDef ident="sample" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.media" type="atts" mode="change">
               <attList>
                  <attDef ident="width" mode="delete"/>
                  <attDef ident="height" mode="delete"/>
                  <attDef ident="scale" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.naming" type="atts" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="nymRef" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.typed" type="atts" mode="change">
               <attList>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing.group" type="atts" mode="change">
               <attList>
                  <attDef ident="domains" mode="delete"/>
                  <attDef ident="targFunc" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.segLike" type="atts" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.timed" type="atts" mode="change">
               <attList>
                  <attDef ident="start" mode="delete"/>
                  <attDef ident="end" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.transcriptional" type="atts" mode="change">
               <attList>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="seq" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.personal" type="atts" mode="change">
               <attList>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="sort" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module core-->
            <moduleRef key="core" include="p date head lb title"/>
            <elementSpec ident="date" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="head" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="lb" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="title" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module figures-->
            <!--Checking module header-->
            <moduleRef key="header"
                       include="teiHeader fileDesc titleStmt extent publicationStmt distributor authority idno availability sourceDesc profileDesc correspDesc correspAction"/>
            <elementSpec ident="teiHeader" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="fileDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="titleStmt" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publicationStmt" mode="change">
               <desc>In our project <gi>publicationStmt</gi> must contain a sequence of two
                     elements: <gi>authority</gi> and <gi>availability</gi> as children.</desc>
               <content>
                  <sequence>
                     <elementRef key="authority" minOccurs="1" maxOccurs="1"/>
                     <elementRef key="availability" minOccurs="1" maxOccurs="1"/>
                  </sequence>
               </content>
               <attList>
                  <attDef ident="corresp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="authority" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="key" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="idno" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="availability" mode="change">
               <attList>
                  <attDef ident="status" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="free"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="correspDesc" mode="change">
               <desc>In our project <gi>correspDesc</gi> is used for bring more details about sendign,
                     including the  sender's name, place, and date, providing a structured way to document
                     correspondence metadata.
               </desc>
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="correspAction" mode="change">
               <constraintSpec ident="date" mode="change" scheme="isoschematron">
                  <desc>
                     The <gi>date</gi> element within a <gi>correspAction</gi> must include a <att>when</att> attribute in ISO 8601 format.
                  </desc>
                  <constraint>
                     <sch:rule context="tei:correspAction/tei:date">
                        <sch:assert test="@when">
                           The date element within correspAction must have a when attribute.
                        </sch:assert>
                        <sch:assert test="matches(@when, '^\d{4}(-\d{2}(-\d{2})?)?$')">
                           The @when attribute must be in ISO 8601 format (e.g., YYYY, YYYY-MM, or YYYY-MM-DD).
                        </sch:assert>
                     </sch:rule>
                  </constraint>
               </constraintSpec>
               <attList>
                  <attDef ident="type" mode="change">
                     <desc>The attribut @type used on correspAction element allows to describe the action.
                           This value is mandatory and must correspond to "sent" or "received".</desc>
                     <valList mode="add" type="closed">
                        <valItem ident="sent"/>
                        <valItem ident="received"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="sent"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <!--Checking module gaiji-->
            <classRef key="att.gaijiProp"/>
            <classSpec ident="att.gaijiProp" type="atts" mode="change">
               <attList>
                  <attDef ident="name" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="scheme" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module verse-->
            <!--Checking module transcr-->
            <!--Checking module linking-->
            <!--Checking module analysis-->
            <classRef key="att.linguistic"/>
            <classSpec ident="att.linguistic" type="atts" mode="change">
               <attList>
                  <attDef ident="lemma" mode="delete"/>
                  <attDef ident="lemmaRef" mode="delete"/>
                  <attDef ident="pos" mode="delete"/>
                  <attDef ident="msd" mode="delete"/>
                  <attDef ident="join" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module textstructure-->
            <moduleRef key="textstructure"
               include="TEI text body div dateline opener closer salute signed"/>
            <elementSpec ident="body" mode="change">
               <desc>In our project <gi>body</gi> must contain a sequence of differents elements:
                  <gi>div</gi> which divides the content into sections for better structure, <gi>opener</gi> 
                  with <gi>salute</gi>,which marks the opening part of the letter, <gi>p</gi> which
                  represents individual paragraphs, including <gi>lb</gi> to indicate line break. 
                  <gi>closer</gi> marks the closing section of the letter, which contains <gi>salute</gi> 
                  which encodes salutations in the letter, and <gi>signed</gi>, which encodes the signature
                  of the letter's author.
               </desc>
               <attList>
                  <attDef ident="corresp" mode="delete"></attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="TEI" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="div" mode="change">
               <content>
                  <sequence>
                     <elementRef key="opener" minOccurs="1" maxOccurs="1"/>
                     <elementRef key="p" minOccurs="1" maxOccurs="unbounded"/>
                     <elementRef key="closer" minOccurs="1" maxOccurs="1"/>
                  </sequence>
               </content>
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
         </schemaSpec>
      </body>
   </text>
</TEI>
